body {
    background-color: #B0B0B0;
    margin: 0;
    overflow: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#logo {
    position: absolute;
    z-index: 1;
    margin-left: 1em;
}

/*
#settings {
    position: absolute;
    z-index: 2;
    right: 1em;
    height: 2.5em;
    width: 2.5em;
    background: url("../assets/settings.png") no-repeat;
}
*/

#gamebar {
    display: flex;
    align-items: center;
    height: 2.5em;
    width: 100%;
    background-color: #C0C0C0;
    box-shadow: 0 8px 4px -4px gray;
}

.face {
    margin: auto;
    background: url('../assets/sheet.png') no-repeat;
    image-rendering: pixelated;
    width: 26px;
    height: 26px;
}

#normal {
    background-position: 0 -33px;
}

#surprised {
    background-position: -26px -33px;
}

#dead {
    background-position: -52px -33px;
}

#shades {
    background-position: -78px -33px;
}

#pressed {
    background-position: -104px -33px;
}

canvas {
    image-rendering: pixelated;
    display: block;
    margin: 0 auto;
    border: 1px solid #707070;
}
